section.articles>article {
    width: 1000px;
    margin: 50px auto;
}

section.articles>article>article {
    background-color: var(--button-background);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

section.articles>article>article>div {
    border-left: 4px solid var(--background);
    padding-left: 10px;
}

section.articles>article>article>a {
    color: var(--primary-font-color);
    width: 90px;
    display: inline-block;
    padding: 10px;
    /*   */
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 4px;
    color: var(--black);
}

section.articles>article>article>a:hover {
    background-color: var(--black);
    color: var(--button-background);
    /* background-image: url("/img/right-arrow-light.png"); */
}

@media screen and (max-width: 425px) {
    section.articles>article {
        width: 360px;
    }

}