nav.main {
    height: 30px;
    padding: 10px;
    width: 500px;
    background-color: white;
    margin: 75px auto;
    line-height: 1.8;
    border-radius: 25px;
    box-shadow: 0px 4px 5px 0px #dedede;
}

nav.main>ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

ul.nav__links>li>a {
    padding: 10px;
    color: #666;
    font-weight: bold;
    color: var(--font-color);
}

@media screen and (max-width: 425px) {
    nav.main {
        width: 30px;
        position: fixed;
        margin: 0;
        right: 20px;
        top: 20px;
        z-index: 1;
    }

    nav.main>ul>li {
        display: none;
    }
}