.projects>div {
    display: grid;
    width: 1000px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
}

.projects>div>div {
    height: 300px;
    width: 500px;
    position: relative;
}

.projects>h2 {
    width: 1000px;
    margin: 20px auto;
    color: var(--secondary-font-color);
}

.projects span {
    position: absolute;
    top: 20px;
    padding: 10px;
    color: var(--button-background);
    background-color: var(--black);
    font-size: 20px;
    font-weight: bold;
    border-left: 4px solid var(--button-background);
}

.projects span.no-1
{
    border-left: 8px solid rgb(255 40 0 / 64%)  ;
}
.projects span.no-4
{
    border-left: 8px solid rgb(127 127 127 / 64%) ;
}
.projects p.project-1
{
    background-color:rgb(255 40 0 / 64%);
}
.projects p.project-4
{
    background-color:rgb(127 127 127 / 64%);
}

.projects p {
    padding: 15px 0px 15px 20px;
    bottom: 0px;
    height: 20px;
    background-color: #1a35b2d4;
    color: white;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    width: 480px;
    margin: 0px;
}

@media screen and (max-width: 425px) {
    .projects>div>div {
        height: 210px;
        width: 380px;
        position: relative;
    }

    .projects h2 {
        width: 385px;
    }

    .projects>div {
        display: grid;
        width: 385px;
        gap: 30px;
        grid-template-columns: repeat(1, 1fr);
    }

    .projects img {
        height: 210px;
        width: 370px;
    }

    .projects p {
        width: 350px;
    }
}