footer{
    display: flex;
    justify-content: center;
    padding: 35px;
    border-top:1px solid #888888a5 ;
    gap: 200px;
}

.footer-links{
    align-items: center;
    display: flex;
    gap: 70px;
}
footer > ul > li > a{
    font-weight: bold;
    color: #666;
}
footer > ul > li > a:hover{
    color: black;
}
footer > a{
    font-weight: 500;
    color: #888;
}


@media screen and (max-width: 425px){
    
    footer{
        display: block;
        text-align: center;
        padding: 0px;
        margin: 0px;

        
    }
    footer > ul{
        flex-direction:row;
        justify-content: center;
        padding: 10px;
    }
    .footer-links{
       gap: 30px;

    }
    footer > a{
       padding: 20px 0;
    }
}
