footer{
display: flex;
} 
a{
text-align: center;
text-decoration: none;
gap: 100px;
padding: 20px;
color: gray;
bottom-margin: 50px;
}
div.cpyright{
margin: auto;
}

@media screen and (max-width: 425px){
footer{	
display:in-line;
}
}
