footer{
    display: flex;
    justify-content: center;
    padding: 10px;
    border-top:2px solid #666 ;
    gap: 270px;
}
.footer-links{
    align-items: center;
    display: flex;
    gap: 30px;
}
footer a{
    font-weight: bold;
    color: #666;
}
footer a:hover{
    color: black;
}
footer p{
    font-weight: bold;
    color: #666666ae;
}

@media screen and (max-width: 425px){
    
    footer{
        margin: 20px 0;
        display: block;
    }
    footer > ul{
        flex-direction: column;
    }
}